{% extends 'base.html.twig' %}

{% block title %}Edit player
{% endblock %}

{% block body %}
	<div class="container-xl">
		<h1>Modifier Joueur</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}

		<button type="submit" class="btn btn-primary">
			Mettre à jour
		</button>
		{{ form_end(form) }}

		<a href="{{ path('player_displayPlayers') }}" class="btn btn-secondary">
			Retour à la liste des joueurs
		</a>
	</div>
{% endblock %}
